<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris facts</title>
    <!-- link rel="stylesheet" href="../static/css/chucknorris.css" type="text/css" / -->
    <link rel="stylesheet" type="text/css" href="/css/chucknorris.css" />
</head>
</head>
<body>
    <h1>Spring 5 training # Chuck Norris facts</h1>
    <p>
        This is part of the <a href="https://www.udemy.com/spring-framework-5-beginner-to-guru">Spring 5 'beginner to
        Guru'</a> training from <a href="https://springframework.guru/">John Tompson</a> on UDEMY.<br>
    </p>
    <hr/>


    <div>
        <p>
        <img src="/img/super_chuck.jpg" alt="Chuck Norris" /><br>
        CHUCK NORRIS</p>
    </div>
    <div id="bottomDiv">
        <h2 th:text="${joke}">default text</h2>
    </div>

</body>
</html>