<div class="menu">
  <div class="menu-item"><a [routerLink]="['dashboard']">Dashboard</a></div>
  <div class="menu-item"><a [routerLink]="['contacts']">Contacts</a></div>
  <div class="menu-item"><a [routerLink]="['edit', '13320566']">Edit 13320566</a></div>
  <div class="menu-item"><a [routerLink]="['edit', 'xyz']">Edit xyz</a></div>
  <div class="menu-item"><a [routerLink]="['about']">About</a></div>
  <div class="last" *ngIf="sharedData.sessionId">{{sharedData.sessionId}}&nbsp;<app-logout></app-logout>
  </div>
</div>
<hr>
