<h2>User dashboard</h2>

<div style="display: flex">

  <div style="margin-left: 3em; margin-right: 3em;">
    <h3>My pending tasks</h3>
    <p>Freaking JIRA tasks list</p>
  </div>

  <div style="margin-left: 3em; margin-right: 3em;">
    <h3>Calendar events</h3>
    <p>08:00 flex-in</p>
    <p>10:00 scrum</p>
    <p>12:00 - 12:30 break</p>
    <p>14:00 - 15:00 meeting (useful, if possible)</p>
    <p>16:30 flex-out</p>
  </div>

  <div style="margin-left: 3em; margin-right: 3em;">
    <a [routerLink]="['/contact']">view contacts</a>
  </div>

</div>
