<header>
  Oxiane training - 2021-01
</header>
<div id="wrapper">
  <div>
    <app-status-bar></app-status-bar>
  </div>

  <h1>Training app</h1>
  OXIANE training application

  <!-- v3: use manual events [method isLogged()] -->
  <!-- v4: use shared data -->
  <!-- display component ONLY if not logged-in -->
  <app-login *ngIf="!sharedData.sessionId" [defaultLogin]="'sponge-bob'">
    Default text that appears if component is not loaded.
  </app-login>

  <!-- display component ONLY if logged-in -->
  <div *ngIf="sharedData.sessionId">
    <h2><span style="color: darkgreen">Access granted</span></h2>
    <p>
      {{welcomeMessage}}<br>
    </p>
    <app-logout></app-logout>

    <app-contact-mgr></app-contact-mgr>

  </div>

  <hr/>

  <h2>Training plan</h2>
  <ol>
    <li><strong>Create login page</strong> (new component 'login', with validation inside)</li>
    <li>Adjust login form to <strong>send event to parent</strong> (login/password)</li>
    <li><strong>Dynamic display</strong>:
      <ul>
        <li>send event to parent ONLY if login == password</li>
        <li>if login ok, display text + logout button</li>
        <li>if login ko, display error</li>
        <li>Add logout option to re-display the login form</li>
      </ul>
    </li>
    <li><strong>Create module</strong>
      <ul>
        <li>Create new module session</li>
        <li>move "login" _component_ to session _module_ (edit `app.module.ts` and `session.module.ts`, see "descriptions" and "imports/exports")</li>
        <li>create new _component_ "logout" in session module</li>
      </ul>
    </li>
    <li>
      <strong>create new class to handle session ID and error</strong>
      <ul>
        <li>Create new class, at the root of the project</li>
        <li>Add 2 attributes (sessionId, errorMessage)</li>
        <li>Configure injection</li>
        <li>Create components StatusBar (display user info) + Footer</li>
        <li>Let user logout from banner</li>
      </ul>
    </li>
    <li>
      <strong>HTTP calls</strong>: use OXIANE backend
      <ul>
        <li>Fork Backend mocks: https://gitlab.com/20-100-2fe/rest-mock</li>
        <li>Build and run the backend</li>
        <li>Create new service to use HTTP calls with 2 methods: <code>login(..)</code> + <code>logout()</code></li>
        <li>Adjust module configuration</li>
        <li>Use this for login / logout in the whole application</li>
      </ul>
    </li>
  </ol>

</div>
<footer>
  <app-footer-bar></app-footer-bar>
</footer>
